@import url('https://fonts.googleapis.com/css?family=Poppins');


:root {
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--txt-color);
}

.App{
  margin: auto 0;
}


